.hero-section {
    height: 80vh;
    overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1)
}

/* Add to your global CSS */
.carousel-inner {
  overflow: visible;
}

@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
      width: 10%;
  }
}